<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                            </span>
        </div>
        <!-- /input-group -->
      </li>
      <li>
        <a href="/internal/dashboard/"><i class="fa fa-desktop fa-fw"></i> Dashboard</a>
      </li>
      <li>
        <a href="/internal/contact/"><i class="fa fa-address-card fa-fw"></i> Contacts</a>
        <!--<a href="/internal/contact/"><i class="fa fa-address-card fa-fw"></i> Contacts<span class="fa arrow"></span></a>-->
      </li>
      <li>
        <a href="/internal/deal/"><i class="fa fa-tasks fa-fw"></i> Deals</a>
      </li>
      <li>
        <!--<a href="/internal/portfolio/"><i class="fa fa-braille fa-fw"></i> Portfolio</a>-->
        <a href=""><i class="fa fa-braille fa-fw"></i> Portfolio (soon)</a>
      </li>
      <li>
        <!--<a href="/internal/meeting/"><i class="fa fa-calendar fa-fw"></i> Meetings</a>-->
        <a href=""><i class="fa fa-calendar fa-fw"></i> Meetings (soon)</a>
      </li>
      <li>
        <!--<a href="/internal/document/"><i class="fa fa-folder-open fa-fw"></i> Documents</a>-->
        <a href=""><i class="fa fa-folder-open fa-fw"></i> Documents (soon)</a>
      </li>
      <li>
        <!--<a href="/internal/setting/"><i class="fa fa-wrench fa-fw"></i> Settings</a>-->
        <a href=""><i class="fa fa-wrench fa-fw"></i> Settings (soon)</a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->