<div id="wrapper">

  <%= render 'left_side_panel' %>
  <%= render 'top_nav_bar' %>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Create New Contact</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

      <div class="row">
        <div class="col-md-10 ">
          <% if @add_msg.include?('Note') %>
              <div style="color: red">
                <h4><%= @add_msg %></h4>
              </div>
          <% elsif @add_msg.include?('Success')%>
              <div style="color: #1aa211">
                <h4><%= @add_msg %><a href="/internal/contact">Contact Page</a></h4>
              </div>
          <% else %>
              <div style="color: #1019ff">Check the current contact list in <a href="/internal/contact">Contact Page</a></div>
          <% end %>
        </div>

        <div class="col-md-10 ">
          <form class="form-horizontal" method="get">
            <fieldset>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Email" style="color: #ff0000">Email</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-at"></i>
                    </div>
                    <input id="Email" name="email" type="text" placeholder="Email" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Full Name">Full Name</label>
                <div class="col-md-2 col-xs-4" style="padding-right: 0">
                  <input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control input-sm">
                </div>
                <div class="col-md-2 col-xs-4" style="padding-left: 0; padding-right: 0">
                  <input id="middle_name" name="middle_name" type="text" placeholder="Middle Name" class="form-control input-sm">
                </div>
                <div class="col-md-2 col-xs-4" style="padding-left: 0; padding-right: 0">
                  <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control input-sm">
                </div>
              </div>
            </fieldset>

            <div class="form-group">
              <label class="col-md-4 control-label" ></label>
              <div class="col-md-4">
                <input class="btn btn-danger" type="submit" value="Check Existing">
              </div>
            </div>
          </form>

          <form class="form-horizontal" method="get">
            <fieldset>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Email" style="color: #ff0000">Email</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-at"></i>
                    </div>
                    <input id="Email" name="email" type="text" placeholder="Email" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Full Name">Full Name</label>
                <div class="col-md-2 col-xs-4" style="padding-right: 0">
                  <input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control input-sm">
                </div>
                <div class="col-md-2 col-xs-4" style="padding-left: 0; padding-right: 0">
                  <input id="middle_name" name="middle_name" type="text" placeholder="Middle Name" class="form-control input-sm">
                </div>
                <div class="col-md-2 col-xs-4" style="padding-left: 0; padding-right: 0">
                  <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control input-sm">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="Nickname">Nickname</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-child"></i>
                    </div>
                    <input id="Nickname" name="nickname" type="text" placeholder="Nickname" class="form-control input-md">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="Relationship">Relationship</label>
                <div class="col-md-8">
                  <label class="radio-inline" for="Relationship-0">
                    <input type="radio" name="relationship" id="investor" value="1" checked="checked">
                    Investor
                  </label>
                  <label class="radio-inline" for="Relationship-1">
                    <input type="radio" name="relationship" id="hemi_founder" value="hemi_founder">
                    HEMI Founder
                  </label>
                  <label class="radio-inline" for="Relationship-2">
                    <input type="radio" name="relationship" id="other_founder" value="other_founder">
                    Other Founder
                  </label>
                  <label class="radio-inline" for="Relationship-3">
                    <input type="radio" name="relationship" id="partner" value="partner">
                    Partner
                  </label>
                  <label class="radio-inline" for="Relationship-4">
                    <input type="radio" name="relationship" id="personal" value="personal">
                    Personal
                  </label>
                  <label class="radio-inline" for="Relationship-5">
                    <input type="radio" name="relationship" id="others" value="others">
                    Others
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="Personal Address">Home Address</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-home"></i>
                    </div>
                    <input id="Personal Address" name="personal_address" type="text" placeholder="Home Address" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Personal Phone">Cell Phone</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-mobile"></i>
                    </div>
                    <input id="Personal Phone" name="personal_phone" type="text" placeholder="Cell Phone" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Linkedin">Linkedin</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-eye"></i>
                    </div>
                    <input id="Linkedin" name="linkedin" type="text" placeholder="Linkedin URL" class="form-control input-md">
                  </div>
                </div>
              </div>


              <hr>

              <h3>Company Info</h3>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Company Name">Company Name</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-university"></i>
                    </div>
                    <input id="Company Name" name="company" type="text" placeholder="Company Name" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Title">Title</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-graduation-cap"></i>
                    </div>
                    <input id="Title" name="title" type="text" placeholder="Title" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Company Type">Company Type</label>
                <div class="col-md-4">
                  <label class="radio-inline" for="Gender-0">
                    <input type="radio" name="company_type" id="in_deal" value="in_deal">
                    In Deal
                  </label>
                  <label class="radio-inline" for="Gender-1">
                    <input type="radio" name="company_type" id="in_portfolio" value="in_protfolio">
                    In Portfolio
                  </label>
                  <label class="radio-inline" for="Gender-2">
                    <input type="radio" name="company_type" id="other" value="other" checked="checked">
                    Other
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Website">Website</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-globe"></i>
                    </div>
                    <input id="Website" name="website" type="text" placeholder="Website" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Company Address">Company Address</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-briefcase"></i>
                    </div>
                    <input id="Company Address" name="company_address" type="text" placeholder="Company Address" class="form-control input-md">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="Company Phone">Company Phone</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <input id="Company Phone" name="company_phone" type="text" placeholder="Company Phone" class="form-control input-md">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="Source">Source</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-podcast"></i>
                    </div>
                    <input id="Source" name="source" type="text" placeholder="Source From" class="form-control input-md">
                  </div>
                </div>
              </div>

              <hr>

              <h3>Other Info</h3>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Area">Area</label>
                <div class="col-md-4">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-street-view"></i>
                    </div>
                    <input id="Area" name="area" type="text" placeholder="Area" class="form-control input-md">
                  </div>
                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Notes">Notes</label>
                <div class="col-md-8">
                  <textarea class="form-control" rows="10"  id="Notes" name="notes">Notes</textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" ></label>
                <div class="col-md-4">
                  <input class="btn btn-warning" type="submit" value="Add This New Contact">
                </div>
              </div>
            </fieldset>
          </form>
        </div>

    </div>

    <br>
    <br>
  </div>
</div>