<!--https://static1.squarespace.com/static/5703f78740261d1f6bfe0373/t/59a8b3d1cf81e09534a79dde/1504228793199/v8.png?format=2000w-->
<div class="container" style="position:absolute; width: 100%; height: 100%; background-position: center; background-repeat: no-repeat; background-image: url(https://i.pinimg.com/originals/bb/51/f7/bb51f7930bcd0c21b5e6de58ae2005a6.jpg);">
  <div class="row" style="margin: 100px 100px">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading" style="text-align: center">
          <h2>Welcome Back!</h2>
        </div>
        <div class="panel-body">
          <a href="/auth/google_oauth2" class="btn btn-lg btn-success btn-block">Login in with Google Account</a>
          <br>
          <a href="" class="btn btn-lg btn-primary btn-block disabled">Register a new account</a>
        </div>
      </div>
    </div>
  </div>
</div>